.course {
    background-color: #efefef;
    padding: 50px 100px;
}
.box {
    background-color: #ffff;
    padding: 10px 20px;
}
.img {
    
}

@media screen and (max-width : 600px) {
    .course {
        background-color: #efefef;
        padding: 50px 10px;
    }
}