<section class="course">
<div class="container">
    <h1 class="text-center">All course</h1>
    <div class="row mt-5" >
        <div class="col-lg-3 mb-5" *ngFor="let cs of course">

            <div class="box shadow-sm">
                <img src="{{cs.image}}" width="100%" height="150px">
                <h4 class="mt-2">{{cs.name}}</h4>
                <p class="mt-2">                {{cs.description}}
                </p>
                <button class="btn btn-primary btn-sm mt-2">watch now</button>
            </div>
        </div>
    </div>
</div>
</section>
