.home img{
width: 100%;
height: 600px;
object-position: center;
object-fit: cover;
}
.homecontent {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(30%, -50%);
}
.homecontent h1{
   color: black;
   font-family: 50px;
   position: relative;
}
.homecontent a {
   margin-top: 50px;
 }
 
 @media screen and (max-width:600px){
    .home img{
height: 600px;
}
    .homecontent h1{
       font-size: 40px;
       
    }   
 }