<section  class="home">
    <img src="assets/img/nnn.jpg" alt="">
    <div class="homecontent">
    <h1>Start learning For <br> future BrIght</h1>
    <a routerLink="course" class="btn btn-lg btn-light">Dicover  Courses</a>&nbsp;
    <a routerLink="join"  class="btn btn-lg btn-primary">Join Now</a>
</div>
</section>
