.navbar {
    background-color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 18px;
    
}
.navbar-light .navbar-nav .nav-link:hover {
 text-decoration: underline;
    
}